<a href="https://colab.research.google.com/github/piyushchoudhary054/Data___Science___Daily___Learning/blob/main/minmaxscaler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/Churn_Modelling - Churn_Modelling.csv')

In [ ]:
df.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [ ]:
df = df.drop(columns = ['Surname','Geography'])

In [ ]:
df['Gender'] = df['Gender'].map({'Female':0,'Male':1})

In [ ]:
x = df.drop(columns = ['Exited'])

In [ ]:
y = df['Exited']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=42)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

mn = MinMaxScaler()

In [ ]:
x_train_mn = mn.fit_transform(x_train)

x_train_new = pd.DataFrame(x_train_mn, columns = x_train.columns)

np.round(x_train_new.describe(),2)

,RowNumber,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00
mean,0.50,0.50,0.60,0.55,0.28,0.50,0.30,0.18,0.70,0.51,0.50
std,0.29,0.29,0.19,0.50,0.14,0.29,0.25,0.19,0.46,0.50,0.29
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.25,0.25,0.47,0.00,0.19,0.30,0.00,0.00,0.00,0.00,0.26
50%,0.50,0.50,0.61,1.00,0.26,0.50,0.38,0.00,1.00,1.00,0.50
75%,0.75,0.75,0.74,1.00,0.35,0.70,0.51,0.33,1.00,1.00,0.75
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [ ]:
df2 = pd.read_csv('/content/Churn_Modelling - Churn_Modelling.csv')

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [ ]:
df2['Surname' ] = lb.fit_transform(df2['Surname' ])
df2.head(4)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,1115,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,1177,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,2040,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,289,699,France,Female,39,1,0.00,2,0,0,93826.63,0

In [ ]:
df2['Geography' ] = lb.fit_transform(df2['Geography' ])

In [ ]:
df2['Gender' ] = lb.fit_transform(df2['Gender' ])

In [ ]:
xx1 = df2.drop(columns = ['Exited'])
yy1 = df2['Exited']

In [ ]:
x_train1,x_test1,y_train1,y_test1 = train_test_split(xx1,yy1,test_size = 0.2, random_state = 42)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

mnn = MinMaxScaler()

In [ ]:
x_train_mnn = mnn.fit_transform(x_train1)

x_train_new_n = pd.DataFrame(x_train_mnn, columns = x_train1.columns)

np.round(x_train_new.describe(),2)

,RowNumber,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00
mean,0.50,0.50,0.60,0.55,0.28,0.50,0.30,0.18,0.70,0.51,0.50
std,0.29,0.29,0.19,0.50,0.14,0.29,0.25,0.19,0.46,0.50,0.29
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.25,0.25,0.47,0.00,0.19,0.30,0.00,0.00,0.00,0.00,0.26
50%,0.50,0.50,0.61,1.00,0.26,0.50,0.38,0.00,1.00,1.00,0.50
75%,0.75,0.75,0.74,1.00,0.35,0.70,0.51,0.33,1.00,1.00,0.75
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00