In [41]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer        # for filling the missing value
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder 
from sklearn.preprocessing import LabelEncoder

In [66]:
df = pd.read_csv(r"C:\Users\asus\Downloads\insurance - insurance.csv")

In [67]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [68]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(df.drop(
columns = ['charges' ]) , df['charges'] , test_size = 0.2)

In [69]:
df.sample(5)

     age     sex     bmi  children smoker     region      charges
857   25    male  24.130         0    yes  northwest  15817.98570
114   52    male  32.205         3     no  northeast  11488.31695
416   52    male  34.100         0     no  southeast   9140.95100
981   34    male  21.375         0     no  northeast   4500.33925
928   62  female  39.160         0     no  southeast  13470.80440

In [70]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [71]:
from sklearn.compose import ColumnTransformer  

transformer = ColumnTransformer(transformers=[
('tnf1',OrdinalEncoder(categories=[['female','male']]), ['sex']),
('tnf2',OrdinalEncoder(categories=[['yes','no']]), ['smoker']),
('tnf3',OrdinalEncoder(categories=[['southwest', 'southeast', 'northwest', 'northeast']]), ['region']),
],remainder='passthrough')

In [ ]:
transformer.fit_transform(x_train).shape

(1070, 6)

In [73]:
x_train

      age     sex    bmi  children smoker     region
149    19    male  28.40         1     no  southwest
129    38    male  34.70         2     no  southwest
926    19  female  23.40         2     no  southwest
1004   47    male  19.19         1     no  northeast
265    46    male  42.35         3    yes  southeast
...   ...     ...    ...       ...    ...        ...
1154   48  female  27.93         4     no  northwest
219    24  female  23.21         0     no  southeast
1272   43    male  25.52         5     no  southeast
835    42    male  35.97         2     no  southeast
514    39    male  28.30         1    yes  southwest

[1070 rows x 6 columns]