In [ ]:
# How Machine Learning Works ?????
# Data Gathering --- > Data Dividation --- > Data Cleaning and Preprocessing ---- >
# Select a ML model --- > Model training --- > Model Prediction --- > Model Perfornace Evaluation.

# Data(df) --- > x(Independent data) + y Dpendent or target data)
# x ---- > x_train , x_test
# y --- > y_train , y_test

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/covid_toy - covid_toy.csv")
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [ ]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [ ]:
df['fever'] = df['fever'].fillna(df['fever'].mean())

In [ ]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [ ]:

df.shape

(100, 6)

In [ ]:
x = df.drop(columns = ['has_covid'])  ## independent data
x. shape

(100, 5)

In [ ]:
y = df['has_covid' ]   ## target data
y. shape

(100,)

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test,y_train , y_test = train_test_split(x,
y,
test_size=0.2,
random_state=42)

In [ ]:
print("Total shape of df:", df.shape)
print(" -----------------")
print("Input data shape:", x.shape)
print("x_train data shape:", x_train.shape)
print("x_test data shape:", x_test.shape)
print("---------------")
print("Target data shape:", y.shape)
print("y_train data shape:", y_train.shape)
print("y_test data shape:", y_test.shape)
print("--------------------")

Total shape of df: (100, 6)
 -----------------
Input data shape: (100, 5)
x_train data shape: (80, 5)
x_test data shape: (20, 5)
---------------
Target data shape: (100,)
y_train data shape: (80,)
y_test data shape: (20,)
--------------------