In [16]:
import pandas as pd
df = pd.read_csv('/content/sample_data/Amazon Sale Report.csv')

/tmp/ipython-input-3668511842.py:2: DtypeWarning: Columns (21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/sample_data/Amazon Sale Report.csv')

In [17]:
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94426,94426,407-6203656-6522762,06-26-22,Shipped,Amazon,Amazon.in,Expedited,JNE3463,JNE3463-KR-XS,kurta,...,INR,568.00,CHENNAI,TAMIL NADU,600114.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
94427,94427,402-6839959-5605921,06-26-22,Shipped - Picked Up,Merchant,Amazon.in,Standard,SET360,SET360-KR-NP-L,Set,...,INR,1338.00,GURUGRAM,HARYANA,122001.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
94428,94428,406-3977932-3276365,06-26-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3364,JNE3364-KR-1051-L,kurta,...,NaN,NaN,DIBRUGARH,ASSAM,786003.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
94429,94429,171-0103294-9345174,06-26-22,Shipped,Amazon,Amazon.in,Expedited,JNE3487,JNE3487-KR-XL,kurta,...,INR,345.00,MAPUSA,GOA,403507.0,IN,NaN,False,NaN,False
94430,94430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [19]:
df['Amount']

0         647.62
1         406.00
2         329.00
3         753.33
4         574.00
          ...
94426     568.00
94427    1338.00
94428        NaN
94429     345.00
94430        NaN
Name: Amount, Length: 94431, dtype: float64

In [21]:
df.shape

(94431, 24)

In [20]:
df.dtypes

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                   float64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                    object
fulfilled-by           object
Unnamed: 22            object
dtype: object

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94431 entries, 0 to 94430
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               94431 non-null  int64
 1   Order ID            94430 non-null  object
 2   Date                94430 non-null  object
 3   Status              94430 non-null  object
 4   Fulfilment          94430 non-null  object
 5   Sales Channel       94430 non-null  object
 6   ship-service-level  94430 non-null  object
 7   Style               94430 non-null  object
 8   SKU                 94430 non-null  object
 9   Category            94430 non-null  object
 10  Size                94430 non-null  object
 11  ASIN                94430 non-null  object
 12  Courier Status      89191 non-null  object
 13  Qty                 94430 non-null  float64
 14  currency            88751 non-null  object
 15  Amount              88751 non-null  float64
 16  ship-city           94405 non-null  object
 17  ship-state          94405 non-null  object
 18  ship-postal-code    94405 non-null  float64
 19  ship-country        94405 non-null  object
 20  promotion-ids       59381 non-null  object
 21  B2B                 94430 non-null  object
 22  fulfilled-by        30196 non-null  object
 23  Unnamed: 22         45380 non-null  object
dtypes: float64(3), int64(1), object(20)
memory usage: 17.3+ MB

In [23]:
df.dtypes

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                   float64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                    object
fulfilled-by           object
Unnamed: 22            object
dtype: object

In [24]:
df.isna().sum()

index                     0
Order ID                  1
Date                      1
Status                    1
Fulfilment                1
Sales Channel             1
ship-service-level        1
Style                     1
SKU                       1
Category                  1
Size                      1
ASIN                      1
Courier Status         5240
Qty                       1
currency               5680
Amount                 5680
ship-city                26
ship-state               26
ship-postal-code         26
ship-country             26
promotion-ids         35050
B2B                       1
fulfilled-by          64235
Unnamed: 22           49051
dtype: int64

In [25]:
from numpy._core import numeric
categorical_columns = df.select_dtypes(include='object').columns
numerial_columns = df.select_dtypes(exclude='int').columns

In [26]:
numerial_columns

Index(['Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [27]:
df[numerial_columns]

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94426,407-6203656-6522762,06-26-22,Shipped,Amazon,Amazon.in,Expedited,JNE3463,JNE3463-KR-XS,kurta,XS,...,INR,568.00,CHENNAI,TAMIL NADU,600114.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
94427,402-6839959-5605921,06-26-22,Shipped - Picked Up,Merchant,Amazon.in,Standard,SET360,SET360-KR-NP-L,Set,L,...,INR,1338.00,GURUGRAM,HARYANA,122001.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
94428,406-3977932-3276365,06-26-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3364,JNE3364-KR-1051-L,kurta,L,...,NaN,NaN,DIBRUGARH,ASSAM,786003.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
94429,171-0103294-9345174,06-26-22,Shipped,Amazon,Amazon.in,Expedited,JNE3487,JNE3487-KR-XL,kurta,XL,...,INR,345.00,MAPUSA,GOA,403507.0,IN,NaN,False,NaN,False
94430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df['B2B'] = df['B2B'].map({True:1,False:0})
df['B2B']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
94426   NaN
94427   NaN
94428   NaN
94429   NaN
94430   NaN
Name: B2B, Length: 94431, dtype: float64

In [29]:
data = {
    'Name': ['Rahul', 'Ragini'],
    'Gender':['Male', 'Female'],
    'Roll no':['1', '2']
}
df1 = pd.DataFrame(data)


df1['Gender']=df1['Gender'].map({'Male':0, 'Female':1})

df1['Roll no']=df1['Roll no'].astype('int')

In [35]:
df['B2B'] = df['B2B'].astype('int')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [36]:
df['B2B']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
94426   NaN
94427   NaN
94428   NaN
94429   NaN
94430   NaN
Name: B2B, Length: 94431, dtype: float64

In [ ]:
# Check how many missing values are present in each column.
# 2. Find the total number of missing values in the dataset.
# 3. Fill missing values in Amount with the mean value.
# 4. Fill missing values in Qty with 0.
# 5. Drop rows where Date is missing.

In [30]:
#  Check how many missing values are present in each column.
total = df.isna().sum()
total

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [29]:
# 2. Find the total number of missing values in the dataset.
total.sum()

np.int64(210495)

In [37]:
# 3. Fill missing values in Amount with the mean value.
df['Amount'].fillna(df['Amount'].mean(), inplace=True)
df['Amount']

/tmp/ipython-input-3911226732.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Amount'].fillna(df['Amount'].mean(), inplace=True)

0         647.620000
1         406.000000
2         329.000000
3         753.330000
4         574.000000
            ...
94426     568.000000
94427    1338.000000
94428     644.229122
94429     345.000000
94430     644.229122
Name: Amount, Length: 94431, dtype: float64

In [38]:
# 4. Fill missing values in Qty with 0.
df['Qty'].fillna(0, inplace=True)
df['Qty']

/tmp/ipython-input-3696229258.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Qty'].fillna(0, inplace=True)

0        0.0
1        1.0
2        1.0
3        0.0
4        1.0
        ...
94426    1.0
94427    1.0
94428    0.0
94429    1.0
94430    0.0
Name: Qty, Length: 94431, dtype: float64

In [39]:
# 5. Drop rows where Date is missing.
df.dropna

<bound method DataFrame.dropna of        index             Order ID      Date                        Status  \
0          0  405-8078784-5731545  04-30-22                     Cancelled
1          1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2          2  404-0687676-7273146  04-30-22                       Shipped
3          3  403-9615377-8133951  04-30-22                     Cancelled
4          4  407-1069790-7240320  04-30-22                       Shipped
...      ...                  ...       ...                           ...
94426  94426  407-6203656-6522762  06-26-22                       Shipped
94427  94427  402-6839959-5605921  06-26-22           Shipped - Picked Up
94428  94428  406-3977932-3276365  06-26-22                     Cancelled
94429  94429  171-0103294-9345174  06-26-22                       Shipped
94430  94430                  NaN       NaN                           NaN

      Fulfilment Sales Channel  ship-service-level    Style  \
0       Merchant      Amazon.in           Standard   SET389
1       Merchant      Amazon.in           Standard  JNE3781
2         Amazon      Amazon.in          Expedited  JNE3371
3       Merchant      Amazon.in           Standard    J0341
4         Amazon      Amazon.in          Expedited  JNE3671
...          ...            ...                ...      ...
94426     Amazon      Amazon.in          Expedited  JNE3463
94427   Merchant      Amazon.in           Standard   SET360
94428     Amazon      Amazon.in          Expedited  JNE3364
94429     Amazon      Amazon.in          Expedited  JNE3487
94430        NaN            NaN                NaN      NaN

                     SKU       Category  ... currency       Amount  \
0         SET389-KR-NP-S            Set  ...      INR   647.620000
1        JNE3781-KR-XXXL          kurta  ...      INR   406.000000
2          JNE3371-KR-XL          kurta  ...      INR   329.000000
3             J0341-DR-L  Western Dress  ...      INR   753.330000
4        JNE3671-TU-XXXL            Top  ...      INR   574.000000
...                  ...            ...  ...      ...          ...
94426      JNE3463-KR-XS          kurta  ...      INR   568.000000
94427     SET360-KR-NP-L            Set  ...      INR  1338.000000
94428  JNE3364-KR-1051-L          kurta  ...      NaN   644.229122
94429      JNE3487-KR-XL          kurta  ...      INR   345.000000
94430                NaN            NaN  ...      NaN   644.229122

         ship-city   ship-state ship-postal-code  ship-country  \
0           MUMBAI  MAHARASHTRA         400081.0            IN
1        BENGALURU    KARNATAKA         560085.0            IN
2      NAVI MUMBAI  MAHARASHTRA         410210.0            IN
3       PUDUCHERRY   PUDUCHERRY         605008.0            IN
4          CHENNAI   TAMIL NADU         600073.0            IN
...            ...          ...              ...           ...
94426      CHENNAI   TAMIL NADU         600114.0            IN
94427     GURUGRAM      HARYANA         122001.0            IN
94428    DIBRUGARH        ASSAM         786003.0            IN
94429       MAPUSA          GOA         403507.0            IN
94430          NaN          NaN              NaN           NaN

                                           promotion-ids B2B  fulfilled-by  \
0                                                    NaN NaN     Easy Ship
1      Amazon PLCC Free-Financing Universal Merchant ... NaN     Easy Ship
2           IN Core Free Shipping 2015/04/08 23-48-5-108 NaN           NaN
3                                                    NaN NaN     Easy Ship
4                                                    NaN NaN           NaN
...                                                  ...  ..           ...
94426       IN Core Free Shipping 2015/04/08 23-48-5-108 NaN           NaN
94427  Amazon PLCC Free-Financing Universal Merchant ... NaN     Easy Ship
94428       IN Core Free Shipping 2015/04/08 23-48-5-108 NaN           NaN
94429                                                NaN NaN           NaN
94430                                                NaN NaN           NaN

      Unnamed: 22
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
94426       False
94427       False
94428       False
94429       False
94430         NaN

[94431 rows x 24 columns]>

In [40]:
import numpy as np
x = np.array([[1, 2],
              [3, 4]])

y = x.ravel()
y.base is x

True

In [41]:
x = np.ones((2, 3))
y = x.T          # non-contiguous
z = y.reshape(6)
z.base is y

False

In [42]:
x = np.array([[1, 2],
              [3, 4]])

y = x.ravel()
y

array([1, 2, 3, 4])

In [43]:
x[0,0] = 99
y

array([99,  2,  3,  4])

In [ ]:
# 1. Show all rows where Status is "Shipped".
# 2. Show all sales where Qty is greater than 5.
# 3. Filter sales where Amount is greater than 1000.
# 4. Show only B2B sales.
# 5. Show only B2C (non-B2B) sales.

In [44]:
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.620000,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,NaN,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.000000,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,NaN,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.000000,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.330000,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,NaN,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.000000,CHENNAI,TAMIL NADU,600073.0,IN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94426,94426,407-6203656-6522762,06-26-22,Shipped,Amazon,Amazon.in,Expedited,JNE3463,JNE3463-KR-XS,kurta,...,INR,568.000000,CHENNAI,TAMIL NADU,600114.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,False
94427,94427,402-6839959-5605921,06-26-22,Shipped - Picked Up,Merchant,Amazon.in,Standard,SET360,SET360-KR-NP-L,Set,...,INR,1338.000000,GURUGRAM,HARYANA,122001.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,NaN,Easy Ship,False
94428,94428,406-3977932-3276365,06-26-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3364,JNE3364-KR-1051-L,kurta,...,NaN,644.229122,DIBRUGARH,ASSAM,786003.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,False
94429,94429,171-0103294-9345174,06-26-22,Shipped,Amazon,Amazon.in,Expedited,JNE3487,JNE3487-KR-XL,kurta,...,INR,345.000000,MAPUSA,GOA,403507.0,IN,NaN,NaN,NaN,False
94430,94430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,644.229122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# 1. Show all rows where Status is "Shipped".

df[df['Status'] == 'shipped']

Empty DataFrame
Columns: [index, Order ID, Date, Status, Fulfilment, Sales Channel , ship-service-level, Style, SKU, Category, Size, ASIN, Courier Status, Qty, currency, Amount, ship-city, ship-state, ship-postal-code, ship-country, promotion-ids, B2B, fulfilled-by, Unnamed: 22]
Index: []

[0 rows x 24 columns]

In [ ]:
# 2. Show all sales where Qty is greater than 5.
# 3. Filter sales where Amount is greater than 1000.
# 4. Show only B2B sales.
# 5. Show only B2C (non-B2B) sales.

In [47]:
# 2. Show all sales where Qty is greater than 5.
df[df['Qty' ]>5 ]

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
937,937,S02-5278980-4327051,04-30-22,Shipped,Amazon,Non-Amazon,Standard,BL017,BL017-63BLACK,Blouse,...,NaN,644.229122,Surat,Gujarat,394210.0,IN,NaN,NaN,NaN,NaN
3631,3631,S02-1006261-5356758,04-28-22,Shipped,Amazon,Non-Amazon,Standard,JNE2305,JNE2305-KR-533-L,kurta,...,NaN,644.229122,Surat,Gujarat,394210.0,IN,NaN,NaN,NaN,NaN
3636,3636,S02-6828927-1180856,04-28-22,Shipped,Amazon,Non-Amazon,Standard,JNE2305,JNE2305-KR-533-XXL,kurta,...,NaN,644.229122,Surat,Gujarat,394210.0,IN,NaN,NaN,NaN,NaN
42039,42039,402-5239558-4281957,04-05-22,Shipped,Amazon,Amazon.in,Expedited,SET268,SET268-KR-NP-XS,Set,...,INR,5584.000000,GUNTUR,ANDHRA PRADESH,522007.0,IN,NaN,NaN,NaN,NaN

In [48]:
# 3. Filter sales where Amount is greater than 1000.
df[df['Amount'] >1000 ]

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
32,32,404-9632124-1107550,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0011,J0011-LCD-M,Set,...,INR,1233.0,VISAKHAPATNAM,ANDHRA PRADESH,530016.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,NaN,Easy Ship,NaN
43,43,408-3478480-0881162,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET360,SET360-KR-NP-M,Set,...,INR,1126.0,LUCKNOW,UTTAR PRADESH,226017.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,NaN
46,46,408-3917043-5314763,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0230,J0230-SKD-L,Set,...,INR,1146.0,ONGOLE,ANDHRA PRADESH,523001.0,IN,NaN,NaN,NaN,NaN
52,52,408-7138000-9728362,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET282,SET282-KR-PP-M,Set,...,INR,1033.0,dimapur,NAGALAND,797112.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,NaN
69,69,405-6480932-8759528,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0381,J0381-SKD-XXXL,Set,...,INR,1146.0,VIJAPURA,KARNATAKA,586201.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94400,94400,406-7848298-6812333,06-26-22,Shipped,Amazon,Amazon.in,Expedited,PSET268,PSET268-KR-NP-6XL,Set,...,INR,1399.0,BENGALURU,KARNATAKA,560060.0,IN,NaN,NaN,NaN,False
94401,94401,408-6402884-2826747,06-26-22,Shipped,Amazon,Amazon.in,Expedited,J0127,J0127-SKD-XL,Set,...,INR,1186.0,THANE,MAHARASHTRA,400607.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,False
94419,94419,407-2126721-6742702,06-26-22,Shipped - Picked Up,Merchant,Amazon.in,Standard,SET349,SET349-KR-NP-M,Set,...,INR,1152.0,GURUGRAM,HARYANA,122001.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,NaN,Easy Ship,False
94421,94421,406-7481701-0628364,06-26-22,Shipped,Amazon,Amazon.in,Expedited,J0281,J0281-SKD-XS,Set,...,INR,1398.0,JAGTIAL,TELANGANA,505327.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,False
94427,94427,402-6839959-5605921,06-26-22,Shipped - Picked Up,Merchant,Amazon.in,Standard,SET360,SET360-KR-NP-L,Set,...,INR,1338.0,GURUGRAM,HARYANA,122001.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,NaN,Easy Ship,False

In [52]:
# 4. Show only B2B sales.
df[df['B2B'] == 1]

Empty DataFrame
Columns: [index, Order ID, Date, Status, Fulfilment, Sales Channel , ship-service-level, Style, SKU, Category, Size, ASIN, Courier Status, Qty, currency, Amount, ship-city, ship-state, ship-postal-code, ship-country, promotion-ids, B2B, fulfilled-by, Unnamed: 22]
Index: []

[0 rows x 24 columns]

In [53]:
# 5. Show only B2C (non-B2B) sales.
df[df['B2B'] != 1]

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.620000,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,NaN,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.000000,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,NaN,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.000000,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.330000,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,NaN,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.000000,CHENNAI,TAMIL NADU,600073.0,IN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94426,94426,407-6203656-6522762,06-26-22,Shipped,Amazon,Amazon.in,Expedited,JNE3463,JNE3463-KR-XS,kurta,...,INR,568.000000,CHENNAI,TAMIL NADU,600114.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,False
94427,94427,402-6839959-5605921,06-26-22,Shipped - Picked Up,Merchant,Amazon.in,Standard,SET360,SET360-KR-NP-L,Set,...,INR,1338.000000,GURUGRAM,HARYANA,122001.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,NaN,Easy Ship,False
94428,94428,406-3977932-3276365,06-26-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3364,JNE3364-KR-1051-L,kurta,...,NaN,644.229122,DIBRUGARH,ASSAM,786003.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,False
94429,94429,171-0103294-9345174,06-26-22,Shipped,Amazon,Amazon.in,Expedited,JNE3487,JNE3487-KR-XL,kurta,...,INR,345.000000,MAPUSA,GOA,403507.0,IN,NaN,NaN,NaN,False
94430,94430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,644.229122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 1. Sort the data by Amount in ascending order.
# 2. Sort the data by Date in descending order.
# 3. Show top 5 highest-amount sales.

# 4. Show bottom 5 lowest-amount sales.

# Creating New Columns

In [54]:
# 1. Sort the data by Amount in ascending order.
df.sort_values(by='Amount')

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
28650,28650,408-5136622-1402703,04-13-22,Shipped,Amazon,Amazon.in,Standard,J0230,J0230-SKD-M,Set,...,INR,0.00,GHAZIABAD,UTTAR PRADESH,201014.0,IN,NaN,NaN,NaN,NaN
48562,48562,408-7603001-7603534,04-01-22,Shipped,Amazon,Amazon.in,Standard,JNE3687,JNE3687-TU-M,Top,...,INR,0.00,NAGERCOIL,TAMIL NADU,629001.0,IN,NaN,NaN,NaN,NaN
48559,48559,408-0728879-6085949,04-01-22,Shipped,Amazon,Amazon.in,Standard,JNE3567,JNE3567-KR-L,kurta,...,INR,0.00,BENGALURU,KARNATAKA,560064.0,IN,NaN,NaN,NaN,NaN
54107,54107,408-4797242-0457116,05-28-22,Shipped,Amazon,Amazon.in,Expedited,SET229,SET229-KR-PP-XL,Set,...,INR,0.00,NEW DELHI,DELHI,110064.0,IN,NaN,NaN,NaN,False
13019,13019,408-9287744-3289160,04-22-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0003,J0003-SET-L,Set,...,INR,0.00,GONDIYA,MAHARASHTRA,441601.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,NaN,Easy Ship,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28814,28814,408-9885439-6698733,04-13-22,Shipped,Amazon,Amazon.in,Expedited,J0285,J0285-SKD-S,Set,...,INR,2864.00,BENGALURU,KARNATAKA,560032.0,IN,NaN,NaN,NaN,NaN
89150,89150,406-7195963-2374765,05-02-22,Shipped,Amazon,Amazon.in,Expedited,SET197,SET197-KR-NP-M,Set,...,INR,3036.00,LUCKNOW,UTTAR PRADESH,226002.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,False
24494,24494,407-3483041-9133135,04-16-22,Cancelled,Merchant,Amazon.in,Standard,SET397,SET397-KR-NP -M,Set,...,INR,4235.72,Jaipur,RAJASTHAN,302012.0,IN,NaN,NaN,Easy Ship,NaN
11160,11160,403-4106553-1691525,04-23-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0013,J0013-SKD-XXXL,Set,...,INR,5495.00,JALANDHAR,PUNJAB,144022.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,NaN,Easy Ship,NaN
42039,42039,402-5239558-4281957,04-05-22,Shipped,Amazon,Amazon.in,Expedited,SET268,SET268-KR-NP-XS,Set,...,INR,5584.00,GUNTUR,ANDHRA PRADESH,522007.0,IN,NaN,NaN,NaN,NaN

In [55]:
# 2. Sort the data by Date in descending order.
df.sort_values(by='Date', ascending=False)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
91452,91452,402-2465163-9329126,06-29-22,Cancelled,Amazon,Amazon.in,Expedited,J0337,J0337-TP-S,Top,...,NaN,644.229122,CHENNAI,TAMIL NADU,600014.0,IN,NaN,NaN,NaN,False
91620,91620,406-6133797-2628332,06-29-22,Shipped,Amazon,Amazon.in,Expedited,SET044,SET044-KR-NP-S,Set,...,INR,612.000000,PATNA,BIHAR,800002.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,False
91622,91622,402-5920585-7650768,06-29-22,Shipped,Amazon,Amazon.in,Expedited,JNE3878,JNE3878-KR-XL,kurta,...,INR,399.000000,BENGALURU,KARNATAKA,560016.0,IN,NaN,NaN,NaN,False
91623,91623,404-7292407-4773918,06-29-22,Pending,Amazon,Amazon.in,Expedited,JNE3837,JNE3837-KR-XXXL,kurta,...,INR,533.000000,AMRITSAR,PUNJAB,143001.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,False
91624,91624,405-2193221-5012340,06-29-22,Shipped,Amazon,Amazon.in,Expedited,JNE3797,JNE3797-KR-S,Western Dress,...,INR,735.000000,BENGALURU,KARNATAKA,560095.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48937,48937,408-8380883-6272369,03-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3373,JNE3373-KR-XXL,kurta,...,INR,364.000000,MUMBAI,MAHARASHTRA,400074.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,NaN
48938,48938,405-8194099-3837147,03-31-22,Shipped,Amazon,Amazon.in,Expedited,SET293,SET293-KR-NP-M,Set,...,INR,727.000000,KOLKATA,WEST BENGAL,700078.0,IN,NaN,NaN,NaN,NaN
48939,48939,407-6736843-2875557,03-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3567,JNE3567-KR-XXXL,kurta,...,INR,449.000000,NAGPUR,MAHARASHTRA,440008.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,NaN
48920,48920,407-1159451-3521157,03-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE2270,JNE2270-KR-487-A-XXL,kurta,...,INR,499.000000,KOLKATA,WEST BENGAL,700032.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,NaN
94430,94430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,644.229122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# 3. Show top 5 highest-amount sales.
df.sort_values(by = 'Amount', ascending=False).head(5)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
42039,42039,402-5239558-4281957,04-05-22,Shipped,Amazon,Amazon.in,Expedited,SET268,SET268-KR-NP-XS,Set,...,INR,5584.00,GUNTUR,ANDHRA PRADESH,522007.0,IN,NaN,NaN,NaN,NaN
11160,11160,403-4106553-1691525,04-23-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0013,J0013-SKD-XXXL,Set,...,INR,5495.00,JALANDHAR,PUNJAB,144022.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,NaN,Easy Ship,NaN
24494,24494,407-3483041-9133135,04-16-22,Cancelled,Merchant,Amazon.in,Standard,SET397,SET397-KR-NP -M,Set,...,INR,4235.72,Jaipur,RAJASTHAN,302012.0,IN,NaN,NaN,Easy Ship,NaN
89150,89150,406-7195963-2374765,05-02-22,Shipped,Amazon,Amazon.in,Expedited,SET197,SET197-KR-NP-M,Set,...,INR,3036.00,LUCKNOW,UTTAR PRADESH,226002.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,False
28814,28814,408-9885439-6698733,04-13-22,Shipped,Amazon,Amazon.in,Expedited,J0285,J0285-SKD-S,Set,...,INR,2864.00,BENGALURU,KARNATAKA,560032.0,IN,NaN,NaN,NaN,NaN

In [58]:
# 4. Show bottom 5 lowest-amount sales.
df.sort_values(by = 'Amount',ascending= True).head(5)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
28650,28650,408-5136622-1402703,04-13-22,Shipped,Amazon,Amazon.in,Standard,J0230,J0230-SKD-M,Set,...,INR,0.0,GHAZIABAD,UTTAR PRADESH,201014.0,IN,NaN,NaN,NaN,NaN
48562,48562,408-7603001-7603534,04-01-22,Shipped,Amazon,Amazon.in,Standard,JNE3687,JNE3687-TU-M,Top,...,INR,0.0,NAGERCOIL,TAMIL NADU,629001.0,IN,NaN,NaN,NaN,NaN
48559,48559,408-0728879-6085949,04-01-22,Shipped,Amazon,Amazon.in,Standard,JNE3567,JNE3567-KR-L,kurta,...,INR,0.0,BENGALURU,KARNATAKA,560064.0,IN,NaN,NaN,NaN,NaN
54107,54107,408-4797242-0457116,05-28-22,Shipped,Amazon,Amazon.in,Expedited,SET229,SET229-KR-PP-XL,Set,...,INR,0.0,NEW DELHI,DELHI,110064.0,IN,NaN,NaN,NaN,False
13019,13019,408-9287744-3289160,04-22-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0003,J0003-SET-L,Set,...,INR,0.0,GONDIYA,MAHARASHTRA,441601.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,NaN,Easy Ship,NaN

In [60]:
# Creating New Columns
df['new_Colum'] = 0

In [ ]:
# Creating derived features enhances the dataset for deeper analysis.

# 1. Create a new column Total_Value = Qty * Amount.
# 2. Create a column High_Value_Sale where Amount > 2000.
# 3. Create a column Order_Type based on B2B (B2B / B2C).

In [62]:
# 1. Create a new column Total_Value = Qty * Amount.
df['total_value'] = df['Qty'] * df['Amount']
df['total_value']

0           0.0
1         406.0
2         329.0
3           0.0
4         574.0
          ...
94426     568.0
94427    1338.0
94428       0.0
94429     345.0
94430       0.0
Name: total_value, Length: 94431, dtype: float64

In [63]:
#  2. Create a column High_Value_Sale where Amount > 2000.
df['high_value_Sale'] = df['Amount'] > 2000

In [64]:
# 3. Create a column Order_Type based on B2B (B2B / B2C).
df['Order_Type'] = df['B2B'].map({True: 'B2B', False: 'B2C'})

In [65]:
df['order_type'] = df['B2B'].map({True:'B2b', False: 'B2C'})

In [ ]:
# 1. Find the total Amount for each Category.
# 2. Find the average Amount per Fulfilment method.
# 3. Find the total quantity sold per Style.
# 4. Count the number of orders per Status.
# 5. Find total sales amount for B2B vs B2C.

In [66]:
# 1. Find the total Amount for each Category.
df.groupby('Category')['Amount'].sum()

Category
Blouse           3.878050e+05
Bottom           1.297264e+05
Dupatta          9.150000e+02
Ethnic Dress     5.886701e+05
Saree            1.017382e+05
Set              3.070720e+07
Top              4.175987e+06
Western Dress    8.079134e+06
kurta            1.666338e+07
Name: Amount, dtype: float64

In [70]:
# 1. Find the total Amount for each Category.
df.groupby('Category')['Amount'].sum()

Category
Blouse           3.878050e+05
Bottom           1.297264e+05
Dupatta          9.150000e+02
Ethnic Dress     5.886701e+05
Saree            1.017382e+05
Set              3.070720e+07
Top              4.175987e+06
Western Dress    8.079134e+06
kurta            1.666338e+07
Name: Amount, dtype: float64

In [71]:
# 2. Find the average Amount per Fulfilment method.
df.groupby('Fulfilment')['Amount'].mean()

Fulfilment
Amazon      646.898588
Merchant    638.550539
Name: Amount, dtype: float64

In [74]:
# 3. Find the total quantity sold per Style.
df.groupby('Style')['Qty'].sum()

Style
AN201      3.0
AN202      7.0
AN203      1.0
AN204      3.0
AN205      4.0
          ...
SET437     1.0
SET438     1.0
SET442     1.0
SET444    22.0
SET461     1.0
Name: Qty, Length: 1343, dtype: float64

In [82]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22', 'new_Colum', 'total_value',
       'high_value_Sale', 'Order_Type', 'order_type'],
      dtype='object')

In [83]:
# Count the number of orders per Status.
df.groupby('Status')['Order ID'].count()

Status
Cancelled                        13380
Pending                            617
Pending - Waiting for Pick Up      281
Shipped                          55706
Shipped - Delivered to Buyer     22497
Shipped - Lost in Transit            5
Shipped - Out for Delivery           2
Shipped - Picked Up                318
Shipped - Rejected by Buyer          7
Shipped - Returned to Seller      1601
Shipped - Returning to Seller       16
Name: Order ID, dtype: int64

In [85]:
# Find total sales amount for B2B vs B2C.
df.groupby('B2B')['Amount'].sum()

Series([], Name: Amount, dtype: float64)

In [ ]:
# 1. Extract year from the Date column.
# 2. Extract month from the Date column.

# 3. Find total sales amount per month.
# 4. Find number of orders per day.

In [86]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22', 'new_Colum', 'total_value',
       'high_value_Sale', 'Order_Type', 'order_type'],
      dtype='object')

In [92]:
# 1. Extract year from the Date column.
df['Date']= pd.to_datetime(df['Date'])
df['Day'] = df['Date'].dt.day
df['Month'] = df['Date'].dt.month
df['Weekday'] = df['Date'].dt.day_name()
df['Year'] = df['Date'].dt.year

/tmp/ipython-input-48981080.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date']= pd.to_datetime(df['Date'])

In [93]:
df['Day']

0        30.0
1        30.0
2        30.0
3        30.0
4        30.0
         ...
94426    26.0
94427    26.0
94428    26.0
94429    26.0
94430     NaN
Name: Day, Length: 94431, dtype: float64

In [95]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22', 'new_Colum', 'total_value',
       'high_value_Sale', 'Order_Type', 'order_type', 'Day', 'Month',
       'Weekday', 'Year'],
      dtype='object')

In [96]:
#find the number of orders per day
df.groupby('Day')['Order ID'].count()

Day
1.0     3279
2.0     3634
3.0     3776
4.0     3480
5.0     3084
6.0     2943
7.0     2968
8.0     3150
9.0     2928
10.0    2940
11.0    2742
12.0    2558
13.0    2768
14.0    3093
15.0    3263
16.0    2960
17.0    2804
18.0    2832
19.0    2885
20.0    2953
21.0    2837
22.0    2871
23.0    3002
24.0    3030
25.0    2948
26.0    3042
27.0    3864
28.0    3973
29.0    3427
30.0    2927
31.0    1469
Name: Order ID, dtype: int64